<div class="row">
	<div class="columns">
		<hr>
	</div>
</div>
<div class="row">
	<div class="tiny-6 columns">
		<p class="text-small text-grey-2 margin-bottom-tiny">&copy;2014 Verizon</p>
		<ul class="spaced no-bullet no-wrap">
			<li><a href="#Feedback">Feedback</a></li>
			<li><a href="#PrivacyPolicy">Privacy Policy</a></li>
			<li><a href="#Terms">Terms &amp; Conditions</a></li>
			<li><a href="#FullSite">Go to Full Site</a></li>
		</ul>
	</div><!-- .columns -->
	<div class="tiny-6 columns text-right">
		<p class="margin-bottom-tiny text-small"><strong>Connect with us!</strong></p>
		<div class="no-wrap">
			<a href="#FacebookLink" class="vzicon icon-facebook xlarge text-facebook-color"></a>
			<a href="#TwitterLink" class="vzicon icon-twitter xlarge text-twitter-color padding-left-tiny"></a>
			<a href="#GooglePlusLink" class="vzicon icon-google-plus xlarge text-google-plus-color padding-left-tiny"></a>
		</div>
	</div><!-- .columns -->
</div><!-- .row -->
