<meta charset="utf-8" />
<meta content='True' name='HandheldFriendly' />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">

<title>@Page.Title</title>

<link rel="stylesheet" href="~/vzrf/stylesheets/vzrf/vzrf.css" />
<!--[if IE 9]>
	<link href="/vzrf/stylesheets/vzrf/vzrf-oldie2.css" rel="stylesheet" />
	<link href="/vzrf/stylesheets/vzrf/vzrf-oldie3.css" rel="stylesheet" />
<![endif]-->

<link rel="stylesheet" href="~/vzrf/stylesheets/app/app.css" />


