<div class="w_grey-bar top-bar">
    <div class="middle top-bar-section has-left has-right">
        <div class="table inline">
            <div class="cell vert-top">
                <div class="tabs-wrap wrapper edbTabs">
                    <div class="scroller" data-tab-scroller>
                        <ul class="tabs greybarMenu margin-left-zero" data-tabs="">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar_charms m_right">
    </div>
</div>
